<div class="col-md-4">	
<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %>By signing up you indicate that you have read and agree to the Terms of Service.<br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
</div>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
<div class="col-md-4">
  <% if provider == :google_oauth2 -%>
  <%= link_to image_tag('google.png'), omniauth_authorize_path(resource_name, provider) %><br />	
  <%- elsif provider == :facebook %>
  <%= link_to image_tag('facebook.png'), omniauth_authorize_path(resource_name, provider) %><br />
</div>
<div class="col-md-4">	
	<% elsif provider == :twitter -%>
	<%= link_to image_tag('twitter.png'), omniauth_authorize_path(resource_name, provider) %><br />
	<% elsif provider == :linkedin -%>
	<%= link_to image_tag('linkedin.png'), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
</div>      
    <% end -%>
<% end -%>
