<table class="table table-striped table-bordered">
<thead>
    <tr>
    
    
    </tr>
  </thead>
<tbody><tr height="22px">
		<td colspan="1" class="detb" width="40%"></td>
								
								<td align="right" class="detb">Mar '14</td>
								<td align="right" class="detb">Mar '13</td>
								<td align="right" class="detb">Mar '12</td>
								<td align="right" class="detb">Mar '11</td>
								<td align="right" class="detb">Mar '10</td>
				</tr>
			<tr height="22px">
										
<td colspan="1" >Total Share Capital</td>
<td><%= @balance_sheet.tot_shr_cap_0 %></td>
<td><%= @balance_sheet.tot_shr_cap_1 %></td>
<td><%= @balance_sheet.tot_shr_cap_2 %></td>
<td><%= @balance_sheet.tot_shr_cap_3 %></td>
<td><%= @balance_sheet.tot_shr_cap_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Equity Share Capital</td>
<td><%= @balance_sheet.eq_shr_cap_0 %></td>
<td><%= @balance_sheet.eq_shr_cap_1 %></td>
<td><%= @balance_sheet.eq_shr_cap_2 %></td>
<td><%= @balance_sheet.eq_shr_cap_3 %></td>
<td><%= @balance_sheet.eq_shr_cap_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Share Application Money</td>
<td><%= @balance_sheet.shr_appl_mny_0 %></td>
<td><%= @balance_sheet.shr_appl_mny_1 %></td>
<td><%= @balance_sheet.shr_appl_mny_2 %></td>
<td><%= @balance_sheet.shr_appl_mny_3 %></td>
<td><%= @balance_sheet.shr_appl_mny_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Preference Share Capital</td>
<td><%= @balance_sheet.pre_shr_cap_0 %></td>
<td><%= @balance_sheet.pre_shr_cap_1 %></td>
<td><%= @balance_sheet.pre_shr_cap_2 %></td>
<td><%= @balance_sheet.pre_shr_cap_3 %></td>
<td><%= @balance_sheet.pre_shr_cap_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Reserves</td>
<td><%= @balance_sheet.reserves_0 %></td>
<td><%= @balance_sheet.reserves_1 %></td>
<td><%= @balance_sheet.reserves_2 %></td>
<td><%= @balance_sheet.reserves_3 %></td>
<td><%= @balance_sheet.reserves_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Networth</td>
<td><%= @balance_sheet.networth_0 %></td>
<td><%= @balance_sheet.networth_1 %></td>
<td><%= @balance_sheet.networth_2 %></td>
<td><%= @balance_sheet.networth_3 %></td>
<td><%= @balance_sheet.networth_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Secured Loans</td>
<td><%= @balance_sheet.scrd_lons_0 %></td>
<td><%= @balance_sheet.scrd_lons_1 %></td>
<td><%= @balance_sheet.scrd_lons_2 %></td>
<td><%= @balance_sheet.scrd_lons_3 %></td>
<td><%= @balance_sheet.scrd_lons_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Unsecured Loans</td>
<td><%= @balance_sheet.unscrd_lons_0 %></td>
<td><%= @balance_sheet.unscrd_lons_1 %></td>
<td><%= @balance_sheet.unscrd_lons_2 %></td>
<td><%= @balance_sheet.unscrd_lons_3 %></td>
<td><%= @balance_sheet.unscrd_lons_4 %></td>
				</tr>
			<tr height="22px">
<td colspan="1" >Total Debt</td>
<td><%= @balance_sheet.tot_debt_0 %></td>
<td><%= @balance_sheet.tot_debt_1 %></td>
<td><%= @balance_sheet.tot_debt_2 %></td>
<td><%= @balance_sheet.tot_debt_3 %></td>
<td><%= @balance_sheet.tot_debt_4 %></td>
				</tr>
			<tr height="22px">

<td colspan="1" >Total Liabilities</td>
<td><%= @balance_sheet.tot_liabs_0 %></td>
<td><%= @balance_sheet.tot_liabs_1 %></td>
<td><%= @balance_sheet.tot_liabs_2 %></td>
<td><%= @balance_sheet.tot_liabs_3 %></td>
<td><%= @balance_sheet.tot_liabs_4 %></td>
				</tr>
			<tr height="22px">

<td colspan="1" >Gross Block</td>
<td><%= @balance_sheet.gros_block_0 %></td>
<td><%= @balance_sheet.gros_block_1 %></td>
<td><%= @balance_sheet.gros_block_2 %></td>
<td><%= @balance_sheet.gros_block_3 %></td>
<td><%= @balance_sheet.gros_block_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Less: Revaluation Reserves</td>
<td><%= @balance_sheet.reval_rsrvs_0 %></td>
<td><%= @balance_sheet.reval_rsrvs_1 %></td>
<td><%= @balance_sheet.reval_rsrvs_2 %></td>
<td><%= @balance_sheet.reval_rsrvs_3 %></td>
<td><%= @balance_sheet.reval_rsrvs_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Less: Accum. Depreciation</td>
<td><%= @balance_sheet.accm_deprec_0 %></td>
<td><%= @balance_sheet.accm_deprec_1 %></td>
<td><%= @balance_sheet.accm_deprec_2 %></td>
<td><%= @balance_sheet.accm_deprec_3 %></td>
<td><%= @balance_sheet.accm_deprec_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Net Block</td>
<td><%= @balance_sheet.net_block_0 %></td>
<td><%= @balance_sheet.net_block_1 %></td>
<td><%= @balance_sheet.net_block_2 %></td>
<td><%= @balance_sheet.net_block_3 %></td>
<td><%= @balance_sheet.net_block_4 %></td>
				</tr>
			<tr height="22px">

<td colspan="1" >Capital Work in Progress</td>
<td><%= @balance_sheet.cap_wip_0 %></td>
<td><%= @balance_sheet.cap_wip_1 %></td>
<td><%= @balance_sheet.cap_wip_2 %></td>
<td><%= @balance_sheet.cap_wip_3 %></td>
<td><%= @balance_sheet.cap_wip_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Investments</td>
<td><%= @balance_sheet.invstmnts_0 %></td>
<td><%= @balance_sheet.invstmnts_1 %></td>
<td><%= @balance_sheet.invstmnts_2 %></td>
<td><%= @balance_sheet.invstmnts_3 %></td>
<td><%= @balance_sheet.invstmnts_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Inventories</td>
<td><%= @balance_sheet.inventory_0 %></td>
<td><%= @balance_sheet.inventory_1 %></td>
<td><%= @balance_sheet.inventory_2 %></td>
<td><%= @balance_sheet.inventory_3 %></td>
<td><%= @balance_sheet.inventory_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Sundry Debtors</td>
<td><%= @balance_sheet.sndr_debts_0 %></td>
<td><%= @balance_sheet.sndr_debts_1 %></td>
<td><%= @balance_sheet.sndr_debts_2 %></td>
<td><%= @balance_sheet.sndr_debts_3 %></td>
<td><%= @balance_sheet.sndr_debts_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Cash and Bank Balance</td>
<td><%= @balance_sheet.c_b_bal_0 %></td>
<td><%= @balance_sheet.c_b_bal_1 %></td>
<td><%= @balance_sheet.c_b_bal_2 %></td>
<td><%= @balance_sheet.c_b_bal_3 %></td>
<td><%= @balance_sheet.c_b_bal_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Total Current Assets</td>
<td><%= @balance_sheet.tot_curr_assets_0 %></td>
<td><%= @balance_sheet.tot_curr_assets_1 %></td>
<td><%= @balance_sheet.tot_curr_assets_2 %></td>
<td><%= @balance_sheet.tot_curr_assets_3 %></td>
<td><%= @balance_sheet.tot_curr_assets_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Loans and Advances</td>
<td><%= @balance_sheet.loans_addv_0 %></td>
<td><%= @balance_sheet.loans_addv_1 %></td>
<td><%= @balance_sheet.loans_addv_2 %></td>
<td><%= @balance_sheet.loans_addv_3 %></td>
<td><%= @balance_sheet.loans_addv_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Fixed Deposits</td>
<td><%= @balance_sheet.fixd_deps_0 %></td>
<td><%= @balance_sheet.fixd_deps_1 %></td>
<td><%= @balance_sheet.fixd_deps_2 %></td>
<td><%= @balance_sheet.fixd_deps_3 %></td>
<td><%= @balance_sheet.fixd_deps_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Total CA, Loans & Advances</td>
<td><%= @balance_sheet.tot_ca_loans_adv_0 %></td>
<td><%= @balance_sheet.tot_ca_loans_adv_1 %></td>
<td><%= @balance_sheet.tot_ca_loans_adv_2 %></td>
<td><%= @balance_sheet.tot_ca_loans_adv_3 %></td>
<td><%= @balance_sheet.tot_ca_loans_adv_4 %></td>
				
				</tr>
			<tr height="22px">

<td colspan="1" >Deferred Credit</td>
<td><%= @balance_sheet.defrd_cr_0 %></td>
<td><%= @balance_sheet.defrd_cr_1 %></td>
<td><%= @balance_sheet.defrd_cr_2 %></td>
<td><%= @balance_sheet.defrd_cr_3 %></td>
<td><%= @balance_sheet.defrd_cr_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Current Liabilities</td>
<td><%= @balance_sheet.curr_liabs_0 %></td>
<td><%= @balance_sheet.curr_liabs_1 %></td>
<td><%= @balance_sheet.curr_liabs_2 %></td>
<td><%= @balance_sheet.curr_liabs_3 %></td>
<td><%= @balance_sheet.curr_liabs_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Provisions</td>
<td><%= @balance_sheet.provisions_0 %></td>
<td><%= @balance_sheet.provisions_1 %></td>
<td><%= @balance_sheet.provisions_2 %></td>
<td><%= @balance_sheet.provisions_3 %></td>
<td><%= @balance_sheet.provisions_4 %></td>
					</tr>
			<tr height="22px">

<td colspan="1" >Total CL & Provisions</td>
<td><%= @balance_sheet.tot_cl_provs_0 %></td>
<td><%= @balance_sheet.tot_cl_provs_1 %></td>
<td><%= @balance_sheet.tot_cl_provs_2 %></td>
<td><%= @balance_sheet.tot_cl_provs_3 %></td>
<td><%= @balance_sheet.tot_cl_provs_4 %></td>

				</tr>
			<tr height="22px">
<td colspan="1" >Net Current Assets</td>
<td><%= @balance_sheet.net_curr_assets_0 %></td>
<td><%= @balance_sheet.net_curr_assets_1 %></td>
<td><%= @balance_sheet.net_curr_assets_2 %></td>
<td><%= @balance_sheet.net_curr_assets_3 %></td>
<td><%= @balance_sheet.net_curr_assets_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Miscellaneous Expenses</td>
<td><%= @balance_sheet.misc_expen_0 %></td>
<td><%= @balance_sheet.misc_expen_1 %></td>
<td><%= @balance_sheet.misc_expen_2 %></td>
<td><%= @balance_sheet.misc_expen_3 %></td>
<td><%= @balance_sheet.misc_expen_4 %></td>
				</tr>
			<tr height="22px">


<td colspan="1" >Total Assets</td>
<td><%= @balance_sheet.tot_assets_0 %></td>
<td><%= @balance_sheet.tot_assets_1 %></td>
<td><%= @balance_sheet.tot_assets_2 %></td>
<td><%= @balance_sheet.tot_assets_3 %></td>
<td><%= @balance_sheet.tot_assets_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Contingent Liabilities</td>
<td><%= @balance_sheet.contignt_liabs_0 %></td>
<td><%= @balance_sheet.contignt_liabs_1 %></td>
<td><%= @balance_sheet.contignt_liabs_2 %></td>
<td><%= @balance_sheet.contignt_liabs_3 %></td>
<td><%= @balance_sheet.contignt_liabs_4 %></td>

				</tr>
			<tr height="22px">

<td colspan="1" >Book Value (Rs)</td>
<td><%= @balance_sheet.bk_val_0 %></td>
<td><%= @balance_sheet.bk_val_1 %></td>
<td><%= @balance_sheet.bk_val_2 %></td>
<td><%= @balance_sheet.bk_val_3 %></td>
<td><%= @balance_sheet.bk_val_4 %></td>

				</tr>


</tbody>
