<p id="notice"><%= notice %></p>

<h1>Listing Balance Sheets</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balance_sheets.each do |balance_sheet| %>
      <tr>
		<td><%= balance_sheet.nse_script_name %></td>
        <td><%= balance_sheet.tot_shr_cap_0 %></td>
        <td><%= balance_sheet.reval_rsrvs_1 %></td>
        <td><%= balance_sheet.net_block_0 %></td>
        <td><%= balance_sheet.invstmnts_0 %></td>
        <td><%= balance_sheet.sndr_debts_0 %></td>
        <td><%= balance_sheet.reserves_0 %></td>
        <td><%= balance_sheet.networth_1 %></td>
        <td><%= link_to 'Show', balance_sheet %></td>
        <td><%= link_to 'Edit', edit_balance_sheet_path(balance_sheet) %></td>
        <td><%= link_to 'Destroy', balance_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Balance sheet', new_balance_sheet_path %>
