<header>


	<nav class="navbar navbar-default" role="navigation">	
<div class="navbar-header">
	<div class="navbar-logo">
		
	</div>
	<div class="navbar-brand">
<%= link_to "ShareAnand", root_path %>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to "Today's Trading", day_tradings_path %></li>
		<li><%= link_to "Ratio Analysis", ratios_and_analyses_path %></li>
		<li><%= link_to "Articles", '#' %></li>
		<li><%= link_to "Economic Calender", '#' %></li>

	<% if signed_in? %>
		<li><%= link_to "Users", '#' %></li>
		<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><%= link_to "Profile", @user %></li>
				<li><%= link_to "Settings", edit_user_registration_path %></li>
				<li class="divider"></li>
				<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
			</ul>
		</li>
	<% else %>
		<li><%= link_to "Sign in", new_user_session_path %></li>
		<li><%= link_to "Register", user_session_path %></li>
		<li>
			<%#= form_tag({cotroller: "script_meta_data", action: "search"},method:"get") do %>

			<%#= form_for(:company_list) do |f|%>

<%#= javascript_tag do %>

<script>
/*
$(document).ready(function(){
	$.getJSON('/app/views/layouts/list.json', function(json){
alert(json);
});

$('#search').autocomplete({
  source: list
});
alert(list.length)

});
*/
</script>
<%# end %>
			
			<%#= form_tag(search_path, method: "get") do %>
				<p>
				<%#= text_field_tag(:search, params[:search]) %>
				<%#= image_submit_tag("/search.png") %>
					</p>
			<%# end %>
			
		</li>	
		<!--li>
		<div>
		<form name="topsearch" id="topsearch" method="get" onsubmit="javascript:return search_post();" action="">
		<input name="search_str" id="search_str" autocomplete="off" onkeyup="getAutosuggesion();" type="text" value="Search" onblur="if(this.value==&#39;&#39;)this.value=&#39;Search Quotes, News, NAVs...&#39;;" onfocus="if(this.value==&#39;Search Quotes, News, NAVs...&#39;)this.value=&#39;&#39;;if(this.value==&#39;Search Quotes, News, NAVs...&#39;)this.value=&#39;&#39;;" class="txtsrchbox">	
		</div>	
			
				
				<a href="javascript:;" onclick="$(&#39;#topsearch&#39;).submit()" style="float:left;" class="btn_search"></a>	 
				<div class="CL"></div>
				</form>				
		</li-->
	<% end %>
	</ul>

	
</div>
</nav>


</header>
