<table class="table table-striped table-bordered">
  <thead>
    <tr>
	  <th> 
  </thead>
<tbody>

  <tr height="22px">
                <td colspan="1" class="detb" width="40%"></td>
                
                <td align="right" class="detb">2014</td>
                <td align="right" class="detb">2013</td>
                <td align="right" class="detb">2012</td>
                <td align="right" class="detb">2011</td>
                <td align="right" class="detb">2010</td>
              </tr>

	      <tr height="22px">

              <td colspan="1"> Gross Profit Margin </td>
    <td><%= @ratios_and_analysis.gross_profit_margin_0.round(2) %></td>
    <td><%= @ratios_and_analysis.gross_profit_margin_1.round(2) %></td>
    <td><%= @ratios_and_analysis.gross_profit_margin_2.round(2) %></td>
    <td><%= @ratios_and_analysis.gross_profit_margin_3.round(2) %></td>
    <td><%= @ratios_and_analysis.gross_profit_margin_4.round(2) %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Operating Profit Margin </td>
    <td><%= @ratios_and_analysis.oper_profit_margn_0.round(2) %></td>
    <td><%= @ratios_and_analysis.oper_profit_margn_1.round(2) %></td>
    <td><%= @ratios_and_analysis.oper_profit_margn_2.round(2) %></td>
    <td><%= @ratios_and_analysis.oper_profit_margn_3.round(2) %></td>
    <td><%= @ratios_and_analysis.oper_profit_margn_4.round(2) %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Net Profit Margin </td>
    <td><%= @ratios_and_analysis.net_proft_margn_0.round(2) %></td>
    <td><%= @ratios_and_analysis.net_proft_margn_1.round(2) %></td>
    <td><%= @ratios_and_analysis.net_proft_margn_2.round(2) %></td>
    <td><%= @ratios_and_analysis.net_proft_margn_3.round(2) %></td>
    <td><%= @ratios_and_analysis.net_proft_margn_4.round(2) %></td>
    </tr>
      <tr height="22px">

              <td colspan="1">EPS </td>
    <td><%= @ratios_and_analysis.eps_0 %></td>
    <td><%= @ratios_and_analysis.eps_1 %></td>
    <td><%= @ratios_and_analysis.eps_2 %></td>
    <td><%= @ratios_and_analysis.eps_3 %></td>
    <td><%= @ratios_and_analysis.eps_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Fixed Charge Coverage </td>
    <td><%= @ratios_and_analysis.fixed_charge_coverage_ratio_0 %></td>
    <td><%= @ratios_and_analysis.fixed_charge_coverage_ratio_1 %></td>
    <td><%= @ratios_and_analysis.fixed_charge_coverage_ratio_2 %></td>
    <td><%= @ratios_and_analysis.fixed_charge_coverage_ratio_3 %></td>
    <td><%= @ratios_and_analysis.fixed_charge_coverage_ratio_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Interest Coverage Ratio </td>
    <td><%= @ratios_and_analysis.interest_coverage_ratio_0 %></td>
    <td><%= @ratios_and_analysis.interest_coverage_ratio_1 %></td>
    <td><%= @ratios_and_analysis.interest_coverage_ratio_2 %></td>
    <td><%= @ratios_and_analysis.interest_coverage_ratio_3 %></td>
    <td><%= @ratios_and_analysis.interest_coverage_ratio_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Return on Assets </td>
    <td><%= @ratios_and_analysis.return_on_asset_0 %></td>
    <td><%= @ratios_and_analysis.return_on_asset_1 %></td>
    <td><%= @ratios_and_analysis.return_on_asset_2 %></td>
    <td><%= @ratios_and_analysis.return_on_asset_3 %></td>
    <td><%= @ratios_and_analysis.return_on_asset_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1">Return on Equity </td>
    <td><%= @ratios_and_analysis.return_on_equity_0 %></td>
    <td><%= @ratios_and_analysis.return_on_equity_1 %></td>
    <td><%= @ratios_and_analysis.return_on_equity_2 %></td>
    <td><%= @ratios_and_analysis.return_on_equity_3 %></td>
    <td><%= @ratios_and_analysis.return_on_equity_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Debt Ratio </td>
    <td><%= @ratios_and_analysis.debt_Ratio_0 %></td>
    <td><%= @ratios_and_analysis.debt_Ratio_1 %></td>
    <td><%= @ratios_and_analysis.debt_Ratio_2 %></td>
    <td><%= @ratios_and_analysis.debt_Ratio_3 %></td>
    <td><%= @ratios_and_analysis.debt_Ratio_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Current Ratio </td>
    <td><%= @ratios_and_analysis.current_ratio_0 %></td>
    <td><%= @ratios_and_analysis.current_ratio_1 %></td>
    <td><%= @ratios_and_analysis.current_ratio_2 %></td>
    <td><%= @ratios_and_analysis.current_ratio_3 %></td>
    <td><%= @ratios_and_analysis.current_ratio_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Debt Equity Ratio </td>
    <td><%= @ratios_and_analysis.debt_equity_ratio_0 %></td>
    <td><%= @ratios_and_analysis.debt_equity_ratio_1 %></td>
    <td><%= @ratios_and_analysis.debt_equity_ratio_2 %></td>
    <td><%= @ratios_and_analysis.debt_equity_ratio_3 %></td>
    <td><%= @ratios_and_analysis.debt_equity_ratio_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Return on Capital Employed </td>
    <td><%= @ratios_and_analysis.return_on_capital_employed_0 %></td>
    <td><%= @ratios_and_analysis.return_on_capital_employed_1 %></td>
    <td><%= @ratios_and_analysis.return_on_capital_employed_2 %></td>
    <td><%= @ratios_and_analysis.return_on_capital_employed_3 %></td>
    <td><%= @ratios_and_analysis.return_on_capital_employed_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Return on Networth </td>
    <td><%= @ratios_and_analysis.return_on_networth_0 %></td>
    <td><%= @ratios_and_analysis.return_on_networth_1 %></td>
    <td><%= @ratios_and_analysis.return_on_networth_2 %></td>
    <td><%= @ratios_and_analysis.return_on_networth_3 %></td>
    <td><%= @ratios_and_analysis.return_on_networth_4 %></td>
    </tr>
      <tr height="22px">

              <td colspan="1"> Assets Turnover Ratio </td>
    <td><%= @ratios_and_analysis.assets_turnover_ratio_0 %></td>
    <td><%= @ratios_and_analysis.assets_turnover_ratio_1 %></td>
    <td><%= @ratios_and_analysis.assets_turnover_ratio_2 %></td>
    <td><%= @ratios_and_analysis.assets_turnover_ratio_3 %></td>
    <td><%= @ratios_and_analysis.assets_turnover_ratio_4 %></td>
						</tr>

						