<script src='/home/sradhu/MyProject/Source_code/shareanand/app/assets/javascripts/jsapi.js' ></script>
<div id='chart'></div>
<%= render_chart @gpm_chart, 'gpm_chart' %>
<%= render_chart @opm_chart, 'opm_chart' %>
<%= render_chart @npm_chart, 'npm_chart' %>

<div id='remarks'>
<p id="notice"><%= notice %></p>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
	  <th> Company Name	</th>
      <th>  2014 </th>
      <th>  2013 </th>
      <th>  2012 </th>
      <th>  2011 </th>
      <th>  2010 </th>
      <th>  Commetns </th>
    </tr>
  </thead>
<tbody>

							<tr height="22px">
						
      
						</tr>

						
						
<h3> Retrun on Assets </h3>						
<p> The return on assets (ROA) ratio illustrates how well management is employing 
the company's total assets to make a profit. The higher the return, the more
efficient management is in utilizing its asset base

As a rule of thumb, investment professionals like to see a company's ROA come
in at no less than 5%. Of course, there are exceptions to this rule. An important
one would apply to banks, which strive to record an ROA of 1.5% or above.
 </p>

<h3> Retrun on Equity </h3>
<p> The ROE tells common shareholders how effectively their
money is being employed. Peer company, industry and overall market
comparisons are appropriate; however, it should be recognized that there are
variations in ROEs among some types of businesses. In general, financial
analysts consider return on equity ratios in the 15-20% range as representing
attractive levels of investment quality.
</p>

<h3> Current Ratio </h3>
<p> 
The current ratio is a popular financial ratio used to test a company's liquidity
(also referred to as its current or working capital position) by deriving the
proportion of current assets available to cover current liabilities.
</p>
<p> 
However, while easy to understand, it can be misleading in both a positive and negative sense - i.e., a high current ratio is not necessarily good, and a low current ratio is not
necessarily bad
</p>

<h3> Interest Paid </h3>
<p> If debt is decreasing and very small cash hoarded is due to successful business </p>

<h2> Debt Ratios </h2>
<p>
 Debt Ratios are not a pure measurement of a company's debt because it includes operational liabilities in total liabilities.
</p>


<h3> Debt Ratio </h3>

<p>The debt ratio compares a company's total debt to its total assets, which is used to gain a general idea as to the amount of leverage being used by a company. A
low percentage means that the company is less dependent on leverage, i.e., money borrowed from and/or owed to others. The lower the percentage, the less
leverage a company is using and the stronger its equity position. In general, the higher the ratio, the more risk that company is considered to have taken on.
</p>

<p>
The debt ratio gives users a quick measure of the amount
of debt that the company has on its balance sheets compared to its assets. The
more debt compared to assets a company has, which is signaled by a high debt
ratio, the more leveraged it is and the riskier it is considered to be.
</p>

<h3> Debt Equity Ratio </h3>

<p> The debt-equity ratio is another leverage ratio that compares a company's total liabilities to its total shareholders' equity. This is a measurement of how much
suppliers, lenders, creditors and obligors have committed to the company versus what the shareholders have committed.
</p>


<%= link_to 'Edit', edit_ratios_and_analysis_path(@ratios_and_analysis) %> |
<%= link_to 'Back', ratios_and_analyses_path %> |
<%= link_to 'Destroy', ratios_and_analyses_path(@ratios_and_analysis), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
