
<div id='chart'>
<%= render_chart @gpm_chart, 'gpm_chart' %>
<%= render_chart @opm_chart, 'opm_chart' %>
<%= render_chart @npm_chart, 'npm_chart' %>
</div>

<div id='remarks'>
<p id="notice"><%= notice %></p>

<%= render 'ratios' %>
<%= render 'man_ratios' %>


</div>


<%#= link_to 'Edit', edit_ratios_and_analysis_path(@ratios_and_analysis) %> |
<%#= link_to 'Back', ratios_and_analyses_path %> |
<%#= link_to 'Destroy', ratios_and_analyses_path(@ratios_and_analysis), method: :delete, data: { confirm: 'Are you sure?' } %>

