<p id="notice"><%= notice %></p>

<h2> Company Deatils of <%= @script_meta_datum.nse_script_name %></h2>
<%= render 'trading_details' %>							
<%= render 'compititors' %>
<%= render 'compititor_ratios' %>

 
