<header>
<nav class="navbar navbar-default" role="navigation">	
<div class="navbar-header">
	<div class="navbar-brand">
<%= link_to "ShareAnand", root_path %>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to "daily_list", daily_tradings_path %></li>
		<li><%= link_to "Valuations",'#' %></li>
		<li><%= link_to "Health of equity", '#' %></li>

	<% if signed_in? %>
		<li><%= link_to "Users", '#' %></li>
		<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Settings", '#' %></li>
				<li class="divider"></li>
				<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
			</ul>
		</li>
	<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
	</ul>
</div>
</nav>


</header>
