# draw graph for @profit_and_loss.sal_turnovr_* and check whether it is positive slope or negitive. But IT DOES NOT TELL ANYTHING


# Check Stock Adjustments value and how des it impacts our study/analysis.

#(net sales - total expenses )/revenue = gross profit margin


      <td><%= (profit_and_loss.net_sales_0 - profit_and_loss.tot_exp_0 ) * 100 / profit_and_loss.net_sales_0 %></td>
      <td><%= (profit_and_loss.net_sales_1 - profit_and_loss.tot_exp_1 ) * 100 / profit_and_loss.net_sales_1 %></td>
      <td><%= (profit_and_loss.net_sales_2 - profit_and_loss.tot_exp_2 ) * 100 / profit_and_loss.net_sales_2 %></td>
      <td><%= (profit_and_loss.net_sales_3 - profit_and_loss.tot_exp_3 ) * 100 / profit_and_loss.net_sales_3 %></td>
      <td><%= (profit_and_loss.net_sales_4 - profit_and_loss.tot_exp_4 ) * 100 / profit_and_loss.net_sales_4 %></td>


<td><%= profit_and_loss.net_sales_0 %></td>
      <td><%= profit_and_loss.tot_exp_0 %></td>
      <td><%= profit_and_loss.net_sales_1 %></td>
      <td><%= profit_and_loss.tot_exp_1 %></td>
      <td><%= profit_and_loss.net_sales_2 %></td>
      <td><%= profit_and_loss.tot_exp_2 %></td>
      <td><%= profit_and_loss.net_sales_3 %></td>
      <td><%= profit_and_loss.tot_exp_3 %></td>
      <td><%= profit_and_loss.net_sales_4 %></td>
      <td><%= profit_and_loss.tot_exp_4 %></td>


