<p id="notice"><%= notice %></p>

<h1>Listing Profit And Losses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profit_and_losses.each do |profit_and_loss| %>
      <tr>
        <td><%= link_to 'Show', profit_and_loss %></td>
        <td><%= link_to 'Edit', edit_profit_and_loss_path(profit_and_loss) %></td>
        <td><%= link_to 'Destroy', profit_and_loss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profit and loss', new_profit_and_loss_path %>
