<p id="notice"><%= notice %></p>

<h1>Listing Day Tradings</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
          <th> Company Name </th>
          <th> OPEN </th>
          <th> HIGH </th>
          <th> LOW </th>
          <th> CLOSE </th>
          <th> PREVIOUS CLOSE </th>
          <th> Graham Value </th>
          <th> <%= sortable("eps","EPS") %></th>
          <th> P/E </th>
          <th> <%= sortable("perc_change", "% Change") %> </th>
          <th> Predictred High </th>
          <th> Predictred Low </th>

    </tr>
  </thead>
	

  <tbody>
    <% @day_tradings.each do |day_trading| %>
      <tr>
      	<td><%= link_to day_trading.nse_script_name, day_trading %></td>
      	<td><%= day_trading.today_open %></td>
      	<td><%= day_trading.today_high %></td>
      	<td><%= day_trading.today_low %></td>
      	<td><%= day_trading.today_close %></td>
      	<td><%= day_trading.pre_day_close %></td>
        <td><%= day_trading.graham_fvp %></td>
        <td><%= day_trading.eps %></td>
        <td><%= day_trading.pe_ratio %></td>
        
        <td><%= day_trading.perc_change.round(2) %></td>
      	<% if day_trading.today_close < day_trading.today_open %>
			<% x= day_trading.today_close + day_trading.today_high + 2 * day_trading.today_low %>
		
		<td><%= x/2 - day_trading.today_low %></td>
      	<td><%= x/2 - day_trading.today_high %></td>	
			
		<% elsif day_trading.today_close > day_trading.today_open %>
			<% x= day_trading.today_close + 2 * day_trading.today_high + day_trading.today_low %>	
		
		<td><%= x/2 - day_trading.today_low %></td>
      	<td><%= x/2 - day_trading.today_high %></td>	
			
      	<% elsif day_trading.today_close = day_trading.today_open %>
			<% x= 2 * day_trading.today_close + day_trading.today_high + day_trading.today_low %>
      	
      	<td><%= x/2 - day_trading.today_low %></td>
      	<td><%= x/2 - day_trading.today_high %></td>	
		
      	<% end %>
      	
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day trading', new_day_trading_path %>
