
<table class="table table-striped table-bordered">
<h1> Profit And Losses of <%= @profit_and_loss.nse_script_name %></h1>
  <thead>
    <tr>
    
    
    </tr>
  </thead>
<tbody>

<tr height="22px">
								<td colspan="1" class="detb" width="40%"></td>
								
								<td align="right" class="detb">Mar '14</td>
								<td align="right" class="detb">Mar '13</td>
								<td align="right" class="detb">Mar '12</td>
								<td align="right" class="detb">Mar '11</td>
								<td align="right" class="detb">Mar '10</td>
							</tr>
							
							<tr height="22px">
							<td colspan="1" >Sales Turnover</td>
							<td align="right" class="detb"><%= @profit_and_loss.sal_turnovr_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.sal_turnovr_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.sal_turnovr_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.sal_turnovr_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.sal_turnovr_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1">Excise Duty </td>
							<td align="right" class="detb"><%= @profit_and_loss.excs_duty_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.excs_duty_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.excs_duty_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.excs_duty_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.excs_duty_4 %></td>
				</tr>
			<tr height="22px">

							<td colspan="1">Net Sales </td>
							<td align="right" class="detb"><%= @profit_and_loss.net_sales_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.net_sales_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.net_sales_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.net_sales_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.net_sales_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Other Income </td>
							<td align="right" class="detb"><%= @profit_and_loss.other_income_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.other_income_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.other_income_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.other_income_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.other_income_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1" >Stock Adjustments </td>
							<td align="right" class="detb"><%= @profit_and_loss.stck_adjst_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.stck_adjst_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.stck_adjst_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.stck_adjst_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.stck_adjst_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1" >Total Income </td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_income_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_income_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_income_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_income_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_income_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Raw Materials </td>
							<td align="right" class="detb"><%= @profit_and_loss.raw_matrls_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.raw_matrls_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.raw_matrls_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.raw_matrls_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.raw_matrls_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Power & Fuel Cost </td>
							<td align="right" class="detb"><%= @profit_and_loss.pwr_fuel_cst_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pwr_fuel_cst_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pwr_fuel_cst_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pwr_fuel_cst_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pwr_fuel_cst_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Employee Cost </td>
							<td align="right" class="detb"><%= @profit_and_loss.exmploy_cst_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.exmploy_cst_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.exmploy_cst_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.exmploy_cst_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.exmploy_cst_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Other Manufacturing Expenses </td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_manufctr_exp_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_manufctr_exp_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_manufctr_exp_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_manufctr_exp_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_manufctr_exp_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Selling and Admin Expenses</td>
							<td align="right" class="detb"><%= @profit_and_loss.selling_admin_exp_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.selling_admin_exp_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.selling_admin_exp_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.selling_admin_exp_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.selling_admin_exp_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Miscellaneous Expenses</td>
							<td align="right" class="detb"><%= @profit_and_loss.misc_exp_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.misc_exp_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.misc_exp_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.misc_exp_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.misc_exp_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Preoperative Exp Capitalised</td>
							<td align="right" class="detb"><%= @profit_and_loss.preoperative_exp_cap_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.preoperative_exp_cap_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.preoperative_exp_cap_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.preoperative_exp_cap_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.preoperative_exp_cap_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Total Expenses</td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_exp_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_exp_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_exp_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_exp_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_exp_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Operating Profit </td>
							<td align="right" class="detb"><%= @profit_and_loss.opertng_prft_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.opertng_prft_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.opertng_prft_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.opertng_prft_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.opertng_prft_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> PBDIT </td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdit_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdit_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdit_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdit_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdit_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Interest </td>
							<td align="right" class="detb"><%= @profit_and_loss.interest_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.interest_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.interest_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.interest_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.interest_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> PBDT </td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdt_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdt_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdt_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdt_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbdt_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Depreciation </td>
							<td align="right" class="detb"><%= @profit_and_loss.deprec_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.deprec_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.deprec_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.deprec_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.deprec_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Other Written Off </td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_writn_off_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_writn_off_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_writn_off_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_writn_off_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.othr_writn_off_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Profit Before Tax </td>
							<td align="right" class="detb"><%= @profit_and_loss.pbt_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbt_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbt_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbt_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pbt_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Extra-ordinary items </td>
							<td align="right" class="detb"><%= @profit_and_loss.extr_ord_itms_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.extr_ord_itms_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.extr_ord_itms_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.extr_ord_itms_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.extr_ord_itms_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> PBT (Post Extra-ord Items) </td>
							<td align="right" class="detb"><%= @profit_and_loss.post_pbt_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.post_pbt_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.post_pbt_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.post_pbt_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.post_pbt_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Tax </td>
							<td align="right" class="detb"><%= @profit_and_loss.tax_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tax_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tax_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tax_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tax_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Reported Net Profit </td>
							<td align="right" class="detb"><%= @profit_and_loss.repo_net_prft_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.repo_net_prft_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.repo_net_prft_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.repo_net_prft_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.repo_net_prft_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Total Value Addition </td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_val_adtn_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_val_adtn_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_val_adtn_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_val_adtn_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.tot_val_adtn_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Preference Dividend </td>
							<td align="right" class="detb"><%= @profit_and_loss.pref_dvdnd_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pref_dvdnd_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pref_dvdnd_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pref_dvdnd_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.pref_dvdnd_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Equity Dividend </td>
							<td align="right" class="detb"><%= @profit_and_loss.equ_dvdnd_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.equ_dvdnd_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.equ_dvdnd_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.equ_dvdnd_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.equ_dvdnd_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Corporate Dividend Tax </td>
							<td align="right" class="detb"><%= @profit_and_loss.co_div_tax_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.co_div_tax_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.co_div_tax_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.co_div_tax_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.co_div_tax_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Shares in issue (lakhs) </td>
							<td align="right" class="detb"><%= @profit_and_loss.no_shares_issued_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.no_shares_issued_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.no_shares_issued_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.no_shares_issued_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.no_shares_issued_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Earning Per Share (Rs) </td>
							<td align="right" class="detb"><%= @profit_and_loss.eps_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eps_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eps_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eps_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eps_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Equity Dividend (%) </td>
							<td align="right" class="detb"><%= @profit_and_loss.eqt_divdnd_perc_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eqt_divdnd_perc_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eqt_divdnd_perc_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eqt_divdnd_perc_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.eqt_divdnd_perc_4 %></td>
				</tr>
			<tr height="22px">
							<td colspan="1"> Book Value (Rs) </td>
							<td align="right" class="detb"><%= @profit_and_loss.bk_val_0 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.bk_val_1 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.bk_val_2 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.bk_val_3 %></td>
							<td align="right" class="detb"><%= @profit_and_loss.bk_val_4 %></td>
				</tr>
		</tbody>
