

<%#= form_for edit_financial_path do |f| %>

  <%#= f.label :publish?, "Are you sure Company has published the current year financials details " %>
  <%= check_box_tag 'publish', 1, :onclick => 'this.form.submit()', :checked => (params[:catalog_image] == 1)%>
  <%#= f.label :sa_format?, "Do you have updated values for the current year as per the shareanand Format ?" %>
  <%#= f.check_box_tag 'sa_format', 1, :onclick => 'this.form.submit()', :checked => (params[:catalog_image] == 1)%>
  <%# end %>


<%= label :publish?, "Are you sure Company has published the current year financials details " %>
<% if params[:publish] == 1 %>
   <%= check_box_tag 'publish', 1, :onclick => 'this.form.submit()', :checked =>true %>
<% else %>
   <%= check_box_tag 'publish', 1, :onclick => 'this.form.submit()'%>
<% end %>

<% if params[:publish] == 1 %>
	<% bool = ["BANKS - PUBLIC SECTOR", "BANKS - PRIVATE SECTOR", "FINANCE - INVESTMENTS", "FINANCE - GENERAL", "FINANCE - HOUSING", "FINANCE - LEASING & HIRE PURCHASE","FINANCE - TERM LENDING INSTITUTIONS"].include?(@profit_and_loss.industry) %>
	

	<% if bool == true %>
		<%= render 'update_bank_financials' %>
	<% else %>
	 	<%= render 'update_financial_details' %>
	<% end %>

<% else %>
	<p> There is nothting to update</p>
<% end %>




<script type="text/javascript">
  var checkbox = document.getElementById('product_pay_with_card');
  var details_div = document.getElementById('card_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'update_bank_financials';
     } else {
       details_div.style['display'] = 'update_financial_details';
     }
  };
</script>